* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-image: url(images/patt.png);
}



.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    background-color: rgba(255,255,255,0.75);
    padding: 25px 0;
}
.logo {
    padding-top: 7px;
}
[class*="col-"] {
    display: block;


}
[class*="item-"] {
    color: white;
    text-transform: uppercase;
    font-size: 21px;
    font-family: roboto;
    font-weight: 800;

}
button:hover {
    cursor: pointer;
}

.col-md-3 {
    width:25%;
    padding: 0 15px;
}
.col-md-4 {
    width:33.3%;
    padding: 0 15px;

}
.col-md-6 {
    width: 50%;
}
.col-md-9 {
    width: 75%;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*
.row:after {
    content: "";
    clear: both;
    display: block;
}
*/
.menu>li {
    width: 25%;

    float: left;
    border-left: 1px solid #2c71b8;
    position: relative;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;

}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    color:#2c71b8;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    font-size: 21px;
}
.menu a:hover {
    background-color:#2c71b8;
    color: white;
}
.menu li:hover  {
    background-color:#2c71b8;

}
.menu li:hover a  {
    color: white;

}




.submenu {
    background-color: #2c71b8;
    border-left: 1px solid #2c71b8;
    border-right: 1px solid #2c71b8;
    position: absolute;
    left: 0;
  top: 100%;
  z-index: 5;
  width: 200%;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
    display: block;
    height: 50px;
    text-decoration: none;
    color:white;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    font-size: 21px;

}
.submenu a:hover {
    background-color: rgba(255,255,255,0.75);
    color: #2c71b8;
}

.menu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);

}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2c71b8;
    height: 80%;


}
.search input {
    height: 100%;

}
.search-inp{
    background: none;
    color: #2c71b8;
    border: none;
}

.search button  {
    height: 30px;
    width: 30px;
    border: none;
    background-color: #2c71b8;
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;





}


.cart   {

    display: flex;
    background-color: rgba(255,255,255,0.75);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(images/cart_blue.png);
    background-repeat: no-repeat;
    background-position: center;

}
.counter {
    border: 1px solid #2c71b8;
    background-color: #2c71b8;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 2px;
    border-radius: 22px;
    position: absolute;
    left: -5px;
    top: -5px;


}







.carousell {
    height: 400px;
    background-color:
    rgba(0,0,0,0.20);
}


.main {
    border-top: 1px solid white;
}
.sidebar {
    color: white;
    font-size: 21px;
    background-color: rgba(255,255,255,0.2);
    padding-left: 30px;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.sidebar ul {
    margin-bottom: 60px;
}
.sidebar li {
    padding-top: 24px;

}

.sidebar label {
    display: block;
    margin-right: 10px;
}
label:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 6px;


}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + label:before {
    background-color: white;
}




.bread1 {
    display: flex;
    justify-content: space-between;
}
.bread {
    display: block;

}
.bread1 span {
    color: #82a4cf;
}
.bread h3 {

    color: white;
    font-size: 48px;
    font-weight: bold;


}
.sort {
    display: block;
    font-size: 14px;



}
.sort select {
    width: 270;
    height: 40px;
    background-color:#2c71b8;
    color: white;
    font-size: 21px;
}

select:hover {
    cursor: pointer;
}
select>option:hover {
    cursor: pointer;
}
.kick {
    align-items: center;
    margin-top: 50px;
    margin-bottom: 65px;
}



.product-img {
    display: flex;
    background-color: rgba(255,255,255,0.75);
    max-width: 100%;

    height: 180px;
    position: relative;

}
.product-like {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid #2c71b8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-image: url(images/like.png);
    background-repeat: no-repeat;
    background-position: center;

}
/*
.product-like img {
    display: block;


}
*/
.product-dizlike {

    position: absolute;
    right: 20px;
    top: 60px;
    border: 1px solid #2c71b8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-image: url(images/dizlike.png);
    background-repeat: no-repeat;
    background-position: center;

}
/*
.product-like:hover {
    background-color: #2c71b8;
    color: white;
    cursor: pointer;
}
.product-dizlike:hover {
    background-color: #2c71b8;
    color: white;
    cursor: pointer;
}
*/


.product-description {
    border: 1px solid white;
    padding-top: 15px;
    padding-bottom: 30px;

}
.product-description>p {
    color: white;
    font-size: 21px;
    padding-top: 16px;
    margin-left: 15px;
    padding-right: 30px;
}
.item-name {
    font-size: 30px;
    font-weight: 800
}

.product-price {
    text-align: center;
    font-size: 48px;
}
.product-price p {

    font-size: 48px;
    display: block;
    margin: 0 auto;
}




.item-btn {
    margin: 0 auto;

    background-color: #2c71b8;
    border: 1px solid white;
    width: 210px;
    max-width: 80%;
    height: 50px;



}
.item-btn1 {
    margin: 0 auto;

    background-color: rgba(255,255,255,0.25);
    border: 1px solid white;
    width: 210px;

    height: 50px;


}
.item-btn2 {
    margin: 0 auto;

    background-color: #2c71b8;
    border: 1px solid white;
    width: 210px;
    max-width: 80%;
    height: 50px;



}

.device {

    padding-bottom: 30px;
}

.device-imac {

    padding-bottom: 30px;
    background: url(images/imac.png);
    background-color: rgba(255,255,255,0.75);
    background-repeat: no-repeat;
    background-position: center;
}
.device-itv {

    padding-bottom: 30px;
    background: url(images/itv.png);
    background-color: rgba(255,255,255,0.75);
    background-repeat: no-repeat;
    background-position: center;
}
.device-iwatch {

    padding-bottom: 30px;
    background: url(images/iwatch.png);
    background-color: rgba(255,255,255,0.75);
    background-repeat: no-repeat;
    background-position: center;
}
.device-macbook {

    padding-bottom: 30px;
    background: url(images/macbook.png);
    background-color: rgba(255,255,255,0.75);
    background-repeat: no-repeat;
    background-position: center;
}
.device-ipod {

    padding-bottom: 30px;
    background: url(images/ipod.png);
    background-color: rgba(255,255,255,0.75);
    background-repeat: no-repeat;
    background-position: center;
}
.device-iphone {

    padding-bottom: 30px;
    background: url(images/iphone.png);
    background-color: rgba(255,255,255,0.75);
    background-repeat: no-repeat;
    background-position: center;
}

.device-ipad {

    padding-bottom: 30px;
    background: url(images/ipad.png);
    background-color: rgba(255,255,255,0.75);
    background-repeat: no-repeat;
    background-position: center;
}









@media (min-width: 768px) and (max-width: 1170px) {
    .container {
        width: 767px;
    }
    .row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    }

    .col-md-4 {
        width: 50%;


    }
    .item-btn2 {
        text-align: center;
        max-width: 80%;
    }
    .search-inp {
        width: 70%;
    }
}

    @media (min-width: 425px) and (max-width: 767px) {
        .container {
        width: 425px;
            margin: 0 auto;

    }
        .row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    }
        .product-item{
            display: block;
            width: 50%;
        }
        .item-btn1 {
        margin: 0 auto;
        max-width: 80%;
        }
        .sidebar {
           display: none;
        }
        .col-s-6 {
            width: 100%;

        }
        .col-s-12 {
            width: 100%;

        }
        .carousell {
            display: none;
        }

        .search {
            display: none;
        }
        .cart {
            display: none;
        }


    }
@media (min-width: 320px) and (max-width: 424px) {
        .container {
        width: 320px;
        margin: 0 auto;

    }
     .carousell {
            display: none;
        }

        .search {
            display: none;
        }
        .cart {
            display: none;
        }
    .sidebar {
           display: none;
        }
}



/*
    @media (min-width: 320px) and (max-width: 767px)
        .container {
        width: 320px;
        margin: 0 auto;
    }
    .row1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }


    }
*/
