* {
    box-sizing: border-box;

}

h6 {
    font-size: 30px;
    text-transform: uppercase;

}

.container {
    width: 925px;
    margin: 0 auto;


}

.inner-header {
    padding: 38px 0;
    background-color: #515966;

}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}



.nav {
    display: flex;
    justify-content: flex-end;


}

.nav li {
    display: inline-block;
    margin-left: 10px;
    width: 80px;
    height: 30px;

    border: 1px solid black;
    border-radius: 5px;

    background-color: #777f8d;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;



}

.nav li:last-child {
    background-color: #f4b41b;
}


.nav li:hover {
    background-color: #535e6e;
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 6px 0px rgba(16, 11, 16, 0.6);
    transform: scaleY(-5px);
}

.navbar {
    display: none;
}



.col-md-2 {
    display: block;
    width: 17%;
}

.col-md-3 {
    display: block;
    width: 25%;
    text-align: center;
    padding: 0 8px;


}

.col-md-9 {
    display: flex;
    justify-content: flex-end;
    width: 75%;


}

.col-md-12 {
    display: block;
    width: 100%;
}

.carousel1 {
    max-width: 100%;
    height: 402px;
    background-color: #dadcdf;
    margin: 0 auto;
}

.carousel_conainer {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 750px;
    height: 300px;
}

.carousel_conainer img {
    padding: 0 70px;
    width: 600px;
    height: 300px;
}

.carousel-control-prev-icon {
    width: 30px;
    height: 60px;
    background-color: #536775;
}

.carousel-control-next-icon {
    width: 30px;
    height: 60px;
    background-color: #536775;
}


main {
    background-image: url(../img/StripedBG1111.png);
    background-repeat: repeat-x;
    background-color: #556478;
}

.about {
    border-top: 1px solid #5a5f6a;

    padding-bottom: 32px;
}

.services {
    margin: 10px 0;
}

.icons {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {

    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ababab;

    border-radius: 5px;
    background-color: #dedede;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.12), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);




}

.contacts {
    background-color: #556478;
    color: white;

    box-shadow: rgba(128, 140, 157, 1);
    padding-bottom: 30px;


}

.inner-social {

    margin-top: 105px;
    margin-bottom: 32px;
    border: 1px solid inherit;
    border-radius: 5px;
    height: 50px;
    border-bottom: none;
    box-shadow: inset 10px 20px 30px 0px rgba(0, 0, 0, 0.12);



}

.social-feedback {
    padding-bottom: 40px;
    border-bottom: 1px solid #323742;
    box-shadow: 0 4px 2px -2px rgba(128, 140, 157, 1);

}

.social-feedback2 {
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #323742;
    box-shadow: 0 4px 2px -2px rgba(128, 140, 157, 1);
}

input[placeholder] {
    padding-left: 10px;
    color: white;
}

textarea[placeholder] {
    padding-left: 10px;
}

.feedback-form {
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    width: 100%;
}

input {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #455163;
    width: 100%;
    height: 32px;
    margin-bottom: 11px;
    color: white;
    font-size: 14px;
    box-shadow: 0 4px 2px -2px rgba(128, 140, 157, 1);

}

textarea {
    display: block;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #455163;
    margin-bottom: 11px;
    color: white;
    font-size: 14px;
    box-shadow: 0 4px 2px -2px rgba(128, 140, 157, 1);
}

.btn1 {
    display: block;
    width: 100%;
    height: 45px;
    background-color: #f2b31b;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 19px;
    text-transform: capitalize;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);

}

.map img {
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(128, 140, 157, 1);
}

footer {
    background-color: #556478;
}

.copyright {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #323742;
    box-shadow: 0 4px 2px -2px rgba(128, 140, 157, 1);

}




@media (max-width: 768px) {
    .navbar {
    display: block;
    }
    .navbar-toggler{
            border: 1px solid white;
    }
    .collapse a
    {
        color: white;
    }
    .container {
        width: 100%;
    }

    h6 {
        font-size: 28px;

    }

    .nav {
        display: none;
    }

}

@media (max-width: 425px) {
    .container {
        width: 100%;
    }

    .menu-icon-wrapper {
        visibility: visible;
    }

    .carousel1 {
        display: none;
    }

    .nav {
        display: none;
    }

    .inner-header {
        padding: 10px 0;
    }

    .col-md-3 {
        width: 50%;
    }



}

@media (max-width: 320px) {
    .col-md-3 {
        width: 100%;
    }

    .icons {
        height: 60px;
    }
}
